/* header.css */

/* Set a background image for the header */
.header {
    background-image: url('src/assets/starfield-banner.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
}

/* Style the links in the header */
.header a {
    color: white;
    /* Set link color to white */
    font-size: 18px;
    /* Adjust font size as needed */
    text-decoration: none;
    /* Remove underline from links */
    margin: 0 10px;
    /* Add some spacing between links */
}

.header a:hover {
    color: #c0c0c0;
}

/* Style the logo */
.header .logo {
    width: 90px;
    /* Adjust logo size as needed */
    height: auto;
    margin-right: 10px;
    /* Add some spacing between logo and text */
}

/* Center the header content vertically */
.header-content {
    display: flex;
    align-items: center;
    height: 100%;
}