body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

#main {
    width: 70%;
}

#title {
    font-family: 'Lilita One', sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#title-data {
    font-family: 'Roboto Slab', serif;
}

#date {
    color: black;
    font-family: 'Roboto Slab', serif;
}

#desc {
    text-align: justify;
}

footer {
    background-image: url('./src/assets/starfield-banner.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
}